{% extends 'base.html' %}

{% block title %}
Matrix
{% endblock %}

{% block content %}

  <p class="select-container">
    <select id="coin-select">
      {% for symbol in symbols %}
        <option value="{{ symbol }}">{{ symbol }}</option>
      {% endfor %}
    </select>
  </p>
  <table id="matrix"></table>
{% endblock %}

{% block scripts %}
  <script>
    setInterval(function() {
      var coin = $("#coin-select").val();
      $.ajax({
        method: "GET",
        url: "/poll_matrix?coin=" + coin,
        success: function(response) {
          var matrix = JSON.parse(response);
          var headerRow = "<tr><th></th>";
          for (var col in matrix) {
            headerRow += "<th>" + col + "<br>askRate</th>";
          }
          headerRow += "</tr>";
          $("#matrix").html(headerRow);
          for (var row in matrix) {
            var rowData = "<tr><th>" + row + "<br>bidRate</th>";
            for (var col in matrix[row]) {
              rowData += "<td>" + matrix[row][col] + "</td>";
            }
            rowData += "</tr>";
            $("#matrix").append(rowData);
          }
        }
      });
    }, 5000);
  </script>
{% endblock %}
