{% extends 'base.html' %}

{% block title %}
Matrix
{% endblock %}

{% block content %}
  <p class="select-container">
    <select id="coin-select">
      {% for symbol in symbols %}
        <option value="{{ symbol }}">{{ symbol }}</option>
      {% endfor %}
    </select>
  </p>
  <table id="matrix"></table>
{% endblock %}

{% block scripts %}
  <script>
    setInterval(function() {
      var coin = $("#coin-select").val();
      $.ajax({
        method: "GET",
        url: "/poll_matrix?coin=" + coin,
        success: function(response) {
          var matrix = JSON.parse(response);
          var headerRow = "<tr><th></th>";
          for (var key in matrix) {
            headerRow += "<th>" + key + "</th>";
          }
          headerRow += "</tr>";
          $("#matrix").html(headerRow);
          for (var key1 in matrix) {
            var row = "<tr><th>" + key1 + "</th>";
            for (var key2 in matrix[key1]) {
              row += "<td>" + matrix[key1][key2] + "</td>";
            }
            row += "</tr>";
            $("#matrix").append(row);
          }
        }
      });
    }, 1000);
  </script>
{% endblock %}
