<!DOCTYPE html>
<html>
<head>
  <title>Matrix</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    setInterval(function() {
      var coin = $("#coin-select").val();
      $.ajax({
        method: "GET",
        url: "/poll_matrix?coin=" + coin,
        success: function(response) {
          var matrix = JSON.parse(response);
          var headerRow = "<tr><th></th>";
          for (var key in matrix) {
            headerRow += "<th>" + key + "</th>";
          }
          headerRow += "</tr>";
          $("#matrix").html(headerRow);
          for (var key1 in matrix) {
            var row = "<tr><th>" + key1 + "</th>";
            for (var key2 in matrix[key1]) {
              row += "<td>" + matrix[key1][key2] + "</td>";
            }
            row += "</tr>";
            $("#matrix").append(row);
          }
        }
      });
    }, 5000);
  </script>
</head>
<body>
  <p>Select a cryptocurrency:
    <select id="coin-select">
      {% for symbol in symbols %}
        <option value="{{ symbol }}">{{ symbol }}</option>
      {% endfor %}
    </select>
  </p>
  <table id="matrix"></table>
</body>
</html>
